<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.react.mapper.users.UserAuthLogMapper">

    <insert id="insertUserAuthLog" parameterType="com.spring.react.vo.users.UserAuthLogVO">
        INSERT INTO USER_AUTH_LOG (
              USER_ID
            , ACTION_TYPE
            , SUCCESS_YN
            , FAIL_REASON
            , IP_ADDR
            , USER_AGENT
        ) VALUES (
              #{user_id}
            , #{action_type}
            , #{success_yn}
            , #{fail_reason}
            , #{ip_addr}
            , #{user_agent}
        )
    </insert>

</mapper>
